@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");

body {
    font-family: "Sekuya", sans-serif;
    margin: 10px;
    padding: 20px;
    background-color: #20201e;
}

.header {
    background-color: #595858;
    color: black;
    padding: 20px;
    text-align: center;
}

button {
    padding: 0px 8px;
    margin-right: 8px;
    border-width: 1px;
    border-radius: 4px;
    font-size: 110%;
}
